<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- uncomment to test -->
    <!-- <add key="Unreachable" value="http://unreachablenugetindex.local" /> -->
    <!-- <add key="Bagetter" value="http://192.168.1.128:6767/v3/index.json" /> -->
  </packageSources>
</configuration>